:root {

    /*  font-family 모움 */
    --main-font-family: helvetica, Arial, Helvetica, sans-serif;
    --tab-font-family: 'Noto Sans', sans-serif;
    --content-font-family: 'Noto Sans KR', sans-serif;

    /* font-size 모음*/
    --main-base-size: 14px;
    --tab-font-size: 14px;

    /*  컬러 모음 */
    --main-background-color: #cbcbcb;
    --main-acitvity-color: #fcff00;


    --base-font-color: '#000';
    --white-font-color: '#fff';


/*    상의 되지 않은 컬러 */
    --font-color-gray:#B2AEAD;

/*    padding*/
    --base-padding-vertical: 30px;
    --base-padding-horizontal: 20px;


/*  Header Tab Bar  */






    /* 카드 사이사이 여백 */
    --studiocard-card-padding: 20px;
    /* 폰트 여백*/
    --studiocard-font-height: 25px;


    --card-background-color: #fff;
    --base-margin: 20px;

}
